<div class = "container">
  <h1>Night Star Hair Salon</h1>

  <div class = "stylist-list">
    #if($stylists)
    <h4>List of Stylists, Click on them to view their clients!</h4>
    <br>
    #foreach ($stylist in $stylists)
    <h2><a href = "/stylist/$stylist.getId()">$stylist.getName()</a></h2>
    #end
  #end
  <a href="/stylists/new">Add a new Stylist</a>
  </div>
</div>
