<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon Admin Page</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/app.css'>
  </head>
  <body>
    <nav class="nav navbar navbar-inverse navbar-static-top">
      <div class="container">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="\">Home</a></li>
          <li role="presentation"><a href="\">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <!-- begin inner template-->
    <div class="container-fluid">
      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>
